// header-----------------------------------------------------------------------

.header{
    @include flexCenter(coloumn);

    #{&}__heading{
        margin: 0 100%;
        font-family: 'Londrina Solid', cursive;
        font-weight: map-get($fontWeight, normal);
        letter-spacing: 2px;
        font-size: map-get($fontSize, large);
        border-bottom:5px solid #111111;
    }
   
    #{&}__para{
        width: 60%;
        color: $white;
        background-color: $black;
        opacity: 0.7;
        padding: 2rem;
        @include style;
    }
    
}

//section-------------------------------------------------------------------

.section{
    @include flexCenter(coloumn);
    margin: 0 100%;

    .dropDown{
        @include flexCenter(coloumn);
        @include style;
        position: relative;
        width:15rem;
        height:3rem;
        background-color:$white;
        font-size: map-get($fontSize,small);
        border: none;

    }


}

// input------------------------------------------------------------------------

.input{
    @include style;
    @include flexCenter(coloumn);
    background-color: $white;
    flex-wrap: nowrap;
    
    i{
        height: 32px;
        background-color:var(--div-background-light);
        padding: 6px;
    }
    i:hover{
    background-color: #828288;
    }
}


input{
    @include style;
	background-color:$white;
	width: 20rem;
	height: 2rem;
	padding:0 5px;
	font-weight: map-get($fontWeight, bold);
	font-size: map-get($fontSize, small );
	border:none;

}
select,input:focus{
	outline: none;
}

// output---------------------------------------------------------------------------

.output{
    @include flexCenter(coloumn);
    flex-basis: 100%;
    background-color: $black;
    width: 200px;
    height: 150px;

    
    .description{
           
            @include flexCenter(coloumn);
            flex-basis: 100%;
            justify-content: space-between;

            .answer{
                background-color: $black;
            }

            .fa-clone{
                color: $white;
            }
            .fa-clone:hover{
                transform: scale(1.1);
            }
        }

        
        .preview{
            flex-basis: 100%;
            min-height: 50px;
            background-color: $white;
        }
    
    
}

//Problem : In small screen size the options are too big for the screen / reduce the size
