// header-----------------------------------------------------------------------

.header{
    @include flexCenter(coloumn);

    #{&}__heading{
        margin: 0 100%;
        font-family: 'Londrina Solid', cursive;
        font-weight: map-get($fontWeight, normal);
        letter-spacing: 2px;
        font-size: map-get($fontSize, large);
        border-bottom:5px solid #111111;
    }
   
    #{&}__para{
        @include style;
        width: 70%;
        color: $white;
        background-color: $black;
        opacity: 0.7;
        padding: 1.5rem;
        margin: 1.5rem 0;
    }
    
}

//section-------------------------------------------------------------------

.section{
    @include flexCenter(coloumn);
    margin: 0 100%;

    .dropDown{
        @include flexCenter(coloumn);
        @include style;
        position: relative;
        width:15rem;
        height:3rem;
        background-color:$white;
        font-size: map-get($fontSize,small);
        border: none;
        padding-left: 0.4rem;;

    }


}

// input------------------------------------------------------------------------

.input{
    @include style;
    @include flexCenter(coloumn);
    flex-wrap: nowrap;
    background-color: $white;
    margin:1.5rem 0;
    
    i{
        height: 40px;
        background-color:var(--div-background-light);
        padding: 10px;
    }
    i:hover{
    background-color: #828288;
    }
}


input{
    @include style;
	background-color:$white;
	width: 20rem;
	height: 2rem;
	padding:20px 10px;
	font-weight: map-get($fontWeight, bold);
	font-size: map-get($fontSize, small );
	border:none;

}
select,input:focus{
	outline: none;
}

// output---------------------------------------------------------------------------

.output{
    @include flexCenter(coloumn);
    @include style;
    flex-basis: 100%;
    background-color: $black;
    opacity: 0.8;
    width: 200px;
    height: 150px;
    padding:10px 30px;

    
    .description{
           
            @include flexCenter(coloumn);
            flex-basis: 100%;
            justify-content: space-between;
            color: $white;

            .answer{
               
                opacity: 0.8;
            }

            .fa-clone{
                color: $white;
                transition:0.3s;
            }
            .fa-clone:hover{
                transform: scale(1.2);
            }
        }

        
        .preview{
            // display: none;
            @include style;
            flex-basis: 100%;
            min-height: 50px;
            background-color: $white;
        }
    
    
}

//Footer

.footer{
    background-color:#0c0c0c;
	text-align: center;
	margin: auto 0;
	padding-top: 5rem;
    padding-bottom: 5rem;
    color: $white;
    
    p:nth-child(1){
        font-weight: lighter;
        font-size: 2rem;
    }
    
     p:nth-child(2){
        margin: 2rem 0 1rem 0;
        font-size: 1.5rem;
        font-weight:normal;
    
    }

    a{
        font-size: 2rem;
        color: $white;
        text-decoration: none;
        margin: 0 0.7rem;
    }

    #end{
        text-align: center;
        padding: 2rem 2rem 0rem 2rem;

        #repoLink{
            font-size:map-get($fontSize , small);
            margin:0 0.3rem;
        }
        
    }
}


//Problem : In small screen size the options are too big for the screen / reduce the size
