/*CSS Variables*/
:root{
	--div-background-light :#f2f2f2;
	--font:'Comfortaa', cursive;
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	background-color:var(--div-background-light);
	background-image: url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
    height: 100vh;
    background-attachment: fixed;
	font-family: var(--font);
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	/*align-items: center;*/
}

/*Header-------------------------------------------------------------------*/
header{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


#name{
	font-size: 3rem;
	font-weight:600 ;
	font-family: 'Londrina Solid', cursive;
	letter-spacing: 2px;
}

hr{
	background-color: #1b1b1b;
	width: 20%;
    border-radius: 50%;
	height: 3px;
	margin:0px auto;
	border:none;

}
#greet{
	font-weight: bold;
	width: 50%;
	background-color:var(--div-background-light);
}


/*Section-------------------------------------------------------------------*/
section{
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;

}



.select {
  display:flex;
  flex-direction: column;
  position:relative;
  width:250px;
  height:40px;
}

.option {
  padding:0 30px 0 10px;
  min-height:40px;
  display:flex;
  align-items:center;
  background-color: var(--div-background-light);
  position:absolute;
  width: 100%;
  pointer-events:none;
  order:2;
  z-index:1;
  transition:background .4s ease-in-out;
  
}


.select:focus .option {
  position:relative;
  pointer-events:all;
}

.select:focus{
	outline: none;
}

.select input:checked + label {
  order: 1;
  z-index:2;
  border-top:none;
  position:relative;
}

input:checked + label:after {
	content:'';
    width: 0; 
	height: 0; 
    border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid black;
	position:absolute;
	right:10px;
	top:calc(50% - 2.5px);
	  pointer-events:none;
	  z-index:3;
}

/*Input---------------------------------------------------------------------------*/
#input{
	/*margin:0 auto;*/
		background-color:var(--div-background-light);
}
input{
	background-color:var(--div-background-light);
	width: 20rem;
	height: 2rem;
	padding:0 5px;
	font-family: var(--font);
	font-weight: bold;
	font-size: 1rem;
	border:none;

}
i{
	height: 32px;
    background-color:var(--div-background-light);
	padding: 6px;
}
i:hover{
  background-color: #828288;
}

select,input:focus{
	outline: none;
}

/*Output-------------------------------------------------------*/
 #output{
 	width: 20rem;
	height: 10rem;
	background-color: var(--div-background-light);
 	display: flex;
 	flex-direction: column;
 	justify-content: space-around;
 	align-items: center;
 	text-align: center;

 }

#description{
	width: 80%;
	height: 40%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
   
}

#preview{
	width:80%;
	height: 40%;
	background-color: #1b1b1b;
}

